.moviescard {
  position: relative;
  list-style: none;

  max-width: 364rem;
  max-height: 281rem;

  border-radius: 6rem;
  background: transparent;
  box-shadow: 0rem 4rem 30rem rgba(0, 0, 0, 0.08);

  overflow: hidden;

  margin: 0;
  padding: 0;


}
.moviescard__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moviescard__image {
  width: 364px;
  height: 203px;

  vertical-align: bottom;

  transition: all 0.20s linear;

  object-fit: cover;

}


.moviescard__name {
  font-weight: 500;
  font-size: 13rem;
  line-height: 16rem;

  color: #fff;
}

.moviescard__duration {
  font-weight: 400;
  font-size: 11rem;
  line-height: 13rem;

  background-color: rgba(47, 47, 47, 1);
  color: rgba(139, 139, 139, 1);
  border-radius: 5rem;

  margin: 0;
  padding: 3rem 6rem;

}

.moviescard__button_save {
  position: absolute;
  font-size: 10rem;
  font-weight: 400;
  line-height: 9rem;

  border-radius: 30rem;
  background: #313131;
  color: #fff;
  border: none;

  cursor: pointer;

  top: 14rem;
  right: 14rem;
  margin: 0;
  padding: 6rem 7rem;


}

.moviescard__button_save-saved {
  width: 21rem;
  height: 21rem;

  background: no-repeat center/contain url('../../images/icon-save.svg');

  color: transparent;
}

.moviescard__button_delete {
  position: absolute;

  width: 14rem;
  height: 12rem;

  border: none;
  background: no-repeat center/contain url('../../images/icon-close.svg');

  cursor: pointer;
  
  top: 19rem;
  right: 24rem;
  
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .moviescard {
    max-width: 339rem;
    max-height: 262rem;
  }
}

@media screen and (max-width: 768px) {
  .moviescard__image {
    height: 190rem;
  }

  .moviescard__name {
    width: 80%;
  }
}


@media screen and (max-width: 450px) {
  .moviescard {
    max-width: 300rem;
    max-height: 327rem;
  }

  .moviescard__image {
    height: 168rem;
  }

  .moviescard__name {
    font-size: 12rem;
    line-height: 15rem;
  }

  .moviescard__duration {
    font-size: 10rem;
    line-height: 12rem;
  }

  .moviescard__details {
    padding: 14rem;
  }

  .moviescard__like-btn {
    top: 17rem;
    right: 18rem;
  }
}
