.profile {
  max-width: 240rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 70rem;
}

.profile__welcome-message {
  font-weight: 500;
  font-size: 24rem;
  line-height: 29rem;
  text-align: center;
  margin-bottom: 110rem;
  color: #fff;
}

.profile-form__input-field:first-child {
  border-bottom: 1rem solid rgba(66, 66, 66, 1);
}

.profile-form__input-field {
  padding: 16rem 0;
  display: flex;
  justify-content: space-between;
background: #202020;
}

.profile-form__label {
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  color: #fff;
}

.profile-form__input {
  border: none;
  padding: 0;
  text-align: right;
  font-weight: 400;
  font-size: 11rem;
  line-height: 13rem;
  outline: none;
  background-color:#202020;
  color: #FFF;
}

.profile-form__input::placeholder {
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
}

.profile-form__input:disabled {
  background-color:#202020;
  color: #fff;
}

.profile-form__button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 13rem;
  line-height: 16rem;
  display: block;
  padding: 0;
  margin: 0 auto;
}

.profile-form__button-save {
  width: 100%;
  background: #2be080;
  border-radius: 3rem;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14rem;
  line-height: 17rem;
  min-height: 45rem;
  margin-top: 180rem;
  cursor: pointer;
}

.profile-form__button-save:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile-form__button-edit {
  margin-top: 204rem;
  color: #FFF;
}

.profile-form__button-signout {
  font-weight: 500;
  color: #ee3465;
  margin-top: 16rem;
  padding-bottom: 70rem;
}

.profile-form__input-field {
  position: relative;
}

.profile-form__input-error {
  font-weight: 400;
  font-size: 10rem;
  line-height: 12rem;
  position: absolute;
  right: 0;
  max-width: 410rem;
  margin: 16rem 0 0;
  color: #ee3465;
}

.profile-form__input-error_active {
  color: #ee3465;
}

.profile-form__buttons {
  position: relative;
}

.profile-form__error-message {
  color: #ee3465;
  font-weight: 400;
  font-size: 11rem;
  line-height: 13rem;
  position: absolute;
  top: -35rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.profile-form__success-message {
  color: #2be080;
  font-weight: 400;
  font-size: 12rem;
  line-height: 13rem;
  position: absolute;
  top: -35rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile {
    justify-content: center;
    margin: 0 auto;
    padding-top: 215rem;
  }

  .profile__welcome-message {
    margin-bottom: 80rem;
  }

  .profile-form__button-edit {
    margin-top: 194rem;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 74rem;
  }

  .profile-form__input-field {
    width: 260rem;
  }

  .profile__welcome-message {
    margin-bottom: 123rem;
  }

  .profile-form__button-edit {
    margin-top: 361rem;
  }

  .profile-form__button {
    font-size: 12rem;
    line-height: 15rem;
  }
}