.portfolio {
   margin: 0 14rem;
   padding-bottom: 70rem;
}

.portfolio__title {
  color: #A0A0A0;
  font-size: 14rem;
  line-height: 20rem;
}
.portfolio__links {
  display: flex;
  flex-direction: column;
  margin-top: 40rem;
}

.portfolio__link {
  padding: 20rem 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1rem solid rgba(66, 66, 66, 1);
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link:last-child {
  border-bottom: none;
}

.portfolio__link-text {
  color: #FFF;
  font-size: 18rem;
  line-height: 28rem;
  letter-spacing: -0.72rem;
  margin: 0;
  padding: 0;
}

.portfolio__link-arrow {
  width: 11rem;
  height: 11rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 0 50rem 90rem;
  }

   .portfolio__title {
    font-size: 18rem;
    line-height: 20rem;
  }

  .portfolio__link-text {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }

  .portfolio__link-arrow {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    margin: 0 70rem 125rem;
  }

  .portfolio__links {
    margin-top: 50rem;
  }
  .portfolio__link-text {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .portfolio__link-arrow {
    width: 15rem;
    height: 15rem;
  }
}

