.nav {
  display: flex;
  align-items: center;
  gap: 30rem;
  justify-content: space-between;
  width: 65%;



}


.nav__list{
  display: flex;
  flex-direction: row;
  font-size: 20rem;
  line-height: 20rem;
  list-style-type: none;
  color: #fff;
  gap: 30rem;
  text-decoration: none;
  align-items: center;


}
.link{
  text-decoration: none;
}
.nav__item {
 font-weight: 400;
  font-size: 13rem;
  line-height: 18rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.1s linear;
  white-space: nowrap;

}
.nav__registered-button {
  font-weight: 500;
  font-size: 14rem;
  line-height: 16rem;
  border: none;
  color: #fff;
  align-self: start;
  border-radius: 20rem;
  background-color: #313131;
  padding: 8rem 15rem;
  margin-left: 100%;
}

.nav__item-enter{
  font-weight: 400;
  font-size: 13rem;
  line-height: 18rem;
  padding: 8rem 20rem;
  background-color: #2be080;
  border-radius: 3rem;
  transition: all 0.1s linear;
  margin-left: 30rem;
  color: #000;
  text-decoration: none;
}

@media screen and (min-width : 800px){
  .nav__registered-button{
    margin-left: 70%;
  }
}