.search {
  margin-top: 80rem;

}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3rem 3rem;
  border-radius: 9px;
  border-radius: 40px;
  background: #2F2F2F;
  width: 100%;
  margin-bottom: 30rem;
  position: relative;
}

.search__form-input {
  width: 100%;
  background:none;
  padding: 14rem;
  border: none;
  outline: none;
  color: #fff;
   font-size: 11px;
  line-height: 17px;
}

.search__form-input:focus {
  border: none;
  border-radius: 9px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search__form-input::placeholder {
  font-size: 11px;
  line-height: 17px;
  color: #8B8B8B;
}

.search__form-button {
  cursor: pointer;
  width: 34rem;
  height: 34rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 3rem;
  position: absolute;
  right: 15px;
}

.search__form-button:hover {
  opacity: 0.8;
}

.search__form__input-error{
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 13rem;
  color: #8B8B8B;
  z-index: 2;
  top: -50;
  left: 40;

}


.search__form-button:focus {
  outline: 2px solid black;
  border-radius: 50px;
}


@media screen and(min-width: 1024px) {
  .search__form {
  padding: 0 70rem;

  }
}
@media screen and(min-width: 365px) {
  .search__form {
    margin-bottom: 20rem;
  }
}