.savedmovies {
margin: 0 14rem;
display: flex;
flex-direction: column;
  min-height: calc(100vh - 268px);
}

.savedmovies__not-found{
  color: #fff;
  font-size: 25rem;
  align-self: center;
  padding-top: 30rem;
}