.tech {
  margin: 0 0 140rem;
  background: #272727;
  padding: 70rem 18rem;
}

.tech__title {
  color: #FFF;
  font-size: 18px;
  letter-spacing: -0.72px;
  font-weight: 400;
  margin-bottom: 60rem;
  padding-bottom: 28rem;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.tech__container {
  display: flex;
  flex-direction: column;
}
.tech__info-title {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  letter-spacing: -1.2px;
  margin: 0;
}

.tech__info-subtitle {
  color: #FFF;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.44px;
  padding: 24rem 0 50rem;
  margin: 0;
}

.tech__container-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  margin: 0rem 53rem 0rem;
}

.tech__info-text {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.48px;
  border-radius: 10px;
  background: #303030;
  padding: 25rem 0rem;
  margin: 0;

}


@media screen and (min-width: 768px) {
  .tech {
    padding: 90rem 50rem;
}

.tech__title {
 font-size: 22px;
letter-spacing: -0.88px;
}

.tech__container {
  display: flex;
  flex-direction: column;
}
.tech__info-title {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}

.tech__info-subtitle {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.48px;
  padding: 22rem 154rem 83rem;
}

.tech__container-info {
 display: grid; 
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: 1fr; 
  gap: 10rem;
  margin: 0;

}

.tech__info-text {
  padding: 21rem 0rem;
  width: 84rem;
}
}

@media screen and (min-width: 1024px) {
  .tech { 
    padding: 100rem 70rem;
}

.tech__info-subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  padding: 26rem 200rem 100rem;
}

.tech__container-info {
 margin: 0 115rem;
}
.tech__info-text {
  padding: 21rem 0rem;
  width: 84rem;
  font-size: 14px;
  letter-spacing: -0.56rem;
}
}