.aboutme {
  margin: 0 14rem;
  align-items: center;
}
.aboutme__title {
  color: #FFF;
  font-size: 18rem;
  letter-spacing: -0.72rem;
  font-weight: 400;
  margin-bottom: 60rem;
  padding-bottom: 28rem;
  border-bottom: 1rem solid rgba(218, 218, 218, 1);
}

.aboutme__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.aboutme__avatar-photo {
  width: 100%;
  max-width: 270rem;
  height: auto;
  max-height: 327rem;
}

.aboutme__info {
  display: flex;
  flex-direction: column;
  padding-top: 40rem;
}

.aboutme__info-title {
  color: #FFF;
  font-size: 30rem;
  font-family: Inter;
  letter-spacing: -1.2rem;
  margin: 0;
}

.aboutme__info-subtitle {
  color: #FFF;
  font-size: 11rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 16rem;
  margin: 0;
  padding-top: 20rem;
}


.aboutme__info-text {
  color: #FFF;
  font-size: 11rem;
  font-family: Inter;
  line-height: 16rem;
  margin: 0;
  padding-top: 20rem;
}

.aboutme__git{
  font-weight: 500;
  font-size: 14rem;
  line-height: 17rem;
  color: #FFF;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 40rem 0 70rem;
}

@media screen and (min-width: 768px) {
  .aboutme {
  margin: 0 50rem;
}

.aboutme__title {
  font-size: 22rem;
  letter-spacing: -0.88rem;
}

.aboutme__container {
  display: flex;
  flex-direction: row;

}

.aboutme__avatar-photo {
  width: 255rem;
  height: 307rem;
  flex-shrink: 0;
}

.aboutme__info {
  margin-right: 49rem;
  padding-top: 0rem;

}

.aboutme__info-title {
  font-size: 40rem;
  line-height: 40rem;
  letter-spacing: -1.6rem;
  margin: 0;
}

.aboutme__info-subtitle {
  font-size: 12rem;
  line-height: 18rem;
  padding-top: 16rem;
}
.aboutme__info-text {
  font-size: 12rem;
  line-height: 18rem;
  padding-top: 20rem;
}

.aboutme__git {
  padding-top: 87rem;
}
}

@media screen and (min-width: 1024px) {
 .aboutme {
  margin: 0 70rem;
}


.aboutme__avatar-photo {
  width: 270rem;
  height: 327rem;
  flex-shrink: 0;
}

.aboutme__info {
  margin-right: 180rem;
}

.aboutme__info-title {
  font-size: 50rem;
  line-height: 58rem;
  letter-spacing: -2rem;
}

.aboutme__info-subtitle {
  font-size: 18rem;
  line-height: 20rem;
  padding-top: 18rem;
}

.aboutme__info-text {
  font-size: 14rem;
  line-height: 22rem;
  padding-top: 26rem;
}

.aboutme__git {
  padding-top: 90rem;
}
}